.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.news-card {
  background-color: #ffffff;
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(252, 248, 35, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.news.dark .news-card {
  background-color: #1e1e1e;
  color: #fff;
  border:1px solid white;
}

.news.dark .news-card a {
  color: #90caf9;
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-content h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.news-content p {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

.news-content a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
