/* App.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

.app {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.app.dark {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Dark text color */
}



/* Dark toggle button */
.dark-toggle {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dark-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-toggle:focus {
  outline: none;
} 

